.sidebar{
    display: flex;
    flex: 0.35;
    height: 100vh;
    background-color: gray;

    .sidebarLeft{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        background-color: black;
        padding: 7px 15px;

        .serverIcon{
            width: 55px;
            img{
                width: 50px;
            }
        }
    }
}